<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.girish.ayanasample" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <permission
        android:name="com.example.girish.ayanasample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="com.example.girish.ayanasample.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegActivity"
            android:label="@string/title_activity_reg" >
        </activity>
        <activity
            android:name=".QAActivity"
            android:label="@string/title_activity_qa" >
        </activity>
        <activity
            android:name=".AskActivity"
            android:label="@string/title_activity_ask" >
        </activity>
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name=".AnswerQActivity"
            android:label="@string/title_activity_answer_q" >
        </activity>

        <service
            android:name=".GcmMessageHandler"
            android:exported="false" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.girish.ayanasample" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RUReadyActivity"
            android:label="@string/title_activity_ruready" >
        </activity>

        <service
            android:name=".ServiceFloating"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FileModificationService"
            android:enabled="true" />

        <activity android:name=".FileModificationMonitor" />
        <activity
            android:name=".ImageViewer"
            android:label="ImageViewer" >
        </activity>
        <activity
            android:name=".SaveMe"
            android:label="SaveMe" >
        </activity>
    </application>

</manifest>
